body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 12px 18px;
  font: 20px Arial;
  color: rgba(151, 45, 13, 0.993);
  background: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend i {
  width: 14px;
  height: 14px;
  float: left;

}